:root{
  background-color: black;
  padding: 0px;
}

.main-page{
  display: flex;
  flex-direction: column;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  z-index: 10;        
  align-items: center;
  margin: 0px;
}


.left-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  width: 40vw;
  z-index: 2;
  background: linear-gradient(
    to right,                
    rgb(0, 0, 0) 0%,     
    rgb(0, 0, 0) 60%,    
    rgba(255, 0, 0, 0) 100%    
  );
}

.gif-div{
  position: relative;
  height: 100%;    
  width: 80vw;
  margin-left: 20vw;
  overflow: hidden;
  background-color: blueviolet;
}

.hero-section {
  display: flex;
  flex-direction: row;
  height: 70vh;    
  width: 100vw;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  /* margin-top: -100px; */
  background-color: aqua;
}

#top-section{
  background-color: azure;
}

.hero-gif {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;      
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  max-width: 70%;
  z-index: 2;  
  font-size: 10px;
}

.hero-text span {
  background: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;  
  font-size: 18px;
  padding-top: 5px;
}

.hero-text h3 {
  font-size: 15px;
}



.buttons-homepage {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.buttons-homepage button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: black;
  backdrop-filter: blur(4px);
  transition: all 0.2s ease-in-out;
}

#second-button{
  background-color: rgba(211, 211, 211, 0.619);
  color: white;
} 

.buttons-homepage button:hover {
  background: rgba(128, 128, 128, 0.8);
}

.buttons-homepage button:first-child {
  color: black;
}

.buttons-homepage button:last-child {
  color: white;
}

.trending{
  padding: 0px;
  padding-left: 30px;
  /* background-color: wheat; */
}

.trending h1{
  font-size: 30px;
}